body {
  font-family: "latepointSandbox", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: rgba(0, 0, 0, .4);
}

p {
  margin-bottom: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inside-container {
  height: 80%;
  width: 75%;
  background: #fff;
  border-radius: 5px;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}
@media (max-width:768px) {
  .inside-container
  {
    height: 100%;
  width: 100%;
  }
}
.left-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 25px 0;
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.left-sec .left-header {
  text-align: center;
  /* color: #8e97b3; */
  font-size: 14px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.left-sec .left-header ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.left-sec .left-header ul li {
  display: block;
  background-color: rgba(0,0,0,.07);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.left-sec .content-div {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-sec .content-div .content-img {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}

.left-sec .content-div p,
.left-sec .left-footer p,
.services-sec .service p,
.services-sec .sub-service p {
  color: #8e97b3;
}

.left-sec .left-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-sec .right-header {
  background-image: radial-gradient(#d4d4d4 1px, transparent 0);
  background-size: 7px 7px;
  padding: 20px;
  text-align: right;
}

 .services-sec {
  border-right: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, .1);
  position: relative;
}

.services-sec .services-header {
  padding: 20px;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
/*
.services-sec .services-div {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.services-sec .service {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border: 1px solid #e5e7ee;
  cursor: pointer;
  transition: transform .5s ease-out;
}

.services-sec .service:hover {
  border-color: #1d7bff;
  box-shadow: 0 0 0 1px #1d7bff;
}

.services-sec .service:hover h2 {
  transform: translateX(5px);
}

.services-sec .serv-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: transform .5s ease-out;
} */


/* sub-service */



.services-sec .sub-services-header {
  padding: 20px;
  line-height: 1.2;
}

.services-sec .sub-services-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 86%;
}

.services-sec .sub-services-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  /* border-top: 1px solid rgba(0, 0, 0, .1); */
}
@media (max-width:768px) {
  .services-sec .sub-services-cont {
    /* padding: 5px; */
    /* height: 100%; */
    /* justify-content: stretch; */
  }
}

.services-sec .sub-service {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
  border: 1px solid #e5e7ee;
  cursor: pointer;
  border-radius: 8px;
  transition: .5s ease-out;
}

.services-sec .sub-service:hover,
.payment-sec .payments-cards .card:hover {
  border-color: #1d7bff;
  box-shadow: 0 0 0 1px #1d7bff;
}

.services-sec .sub-service:hover .sub-serv-name {
  transform: translateX(-5px);
}

.services-sec .sub-serv-name-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  /* width: 100%; */
  /* border-right: 1px solid rgba(0,0,0,.1); */
  /* transition: .5s ease-out; */
}

.services-sec .sub-serv-name-cont img {
  width: 100px;
  height: 100px;
}

.services-sec .sub-serv-name-cont .sub-serv-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding-right: 10px; */
  transition: .2s ease-out;
}

.services-sec .sub-services-div .sub-service-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
@media (max-width:768px) {
  .services-sec .sub-services-div {
    height: 100vh;
    justify-content: flex-start;
  }
}
.services-sec .sub-serv-name-cont .sub-serv-name h2 {
  font-weight: 500;
  font-size: 25px;
}
.sub-serv-price {
  color: #1d7bff;
  line-height: 1.1;
  font-weight: 500;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono", Menlo, Consolas, monospace;
  font-size: 20px;
  border-right: 1px solid rgba(0, 0, 0, .1);
  padding-right: 20px;
}
@media (max-width:768px) {
  .services-sec .sub-serv-name-cont .sub-serv-name h2
  {
    font-size: 18px;
    margin: 0;
  }
  .services-sec .sub-serv-name-cont img
  {
    height: 65px;
    width: 65px;
  }
}
.date-picker,
.signin-register ,
.payment-sec,
.credit-form{
  display: none;
}

.signin-register .signin-con {
  /* overflow-y: scroll; */
}

/* Set the width of the scrollbar */
.signin-register .signin-con::-webkit-scrollbar {
  height: 5px !important;
}

/* Set the color of the scrollbar */
.signin-register .signin-con::-webkit-scrollbar-thumb {
  background-color: #070707ce;
}

/* Set the color of the scrollbar track */
.signin-register .signin-con::-webkit-scrollbar-track {
  background-color: #d4d6d6;
}

.signin-register .nav-tabs {
  display: flex;
  justify-content: space-between;
}

.signin-register .nav-tabs .nav-link,
.signin-register .nav-tabs .nav-link.active {
  border: unset;
  background-color: unset;
}

.signin-register .nav-tabs .nav-link.active {
  font-size: 20px;
  font-weight: bold;
  border-bottom: #1d7bff 4px solid;
}
@media (max-width:768px) {
  .signin-register .nav-tabs .nav-link.active {
    font-size: 13px;
    font-weight: bold;
    border-bottom: #1d7bff 4px solid;
  }
}
.signin-register .nav-tabs .nav-link:not(.signin-register .nav-tabs .nav-link.active),
.signin-register input::placeholder,
.signin-register textarea::placeholder {
  color: #8e97b3;
}

.signin-register .input-group>.form-select {
  flex: unset;
}

.signin-register .orlogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding: 40px 0;
  gap: 1rem;
}

.signin-register .or {
  /* margin: 5px; */
  text-align: center;
  background-color: #fff;
  padding: 0 10px;
}

input {
  border: 1px solid #cad2e0 !important;
  border-radius: 8px;
  height: 50px !important;
}

.centerd-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  position: sticky;
  bottom: -2px;
  background-color: white;
}

/* start payment section */
.payment-sec
{
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
@media (max-width:768px) {
  .payment-sec
  {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
  }
}
.payment-sec .payments-cards {
  display: flex;
  justify-content: space-evenly;
}

.payment-sec .payments-cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-sec .payments-cards .card .card-body {
  border-top: 1px solid rgba(0, 0, 0, .1);
  text-align: center;
  width: 100%;
}

.payment-sec .payments-cards img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.totle-price
{
  background-color: #fff7d0;
  padding: 10px 5px;
  width: 80%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #A9814A;
}
.credit-form .payment-card
{
  background: linear-gradient(45deg, #25272f 0%, #0a2275 58%, #102984 58%, #1b2856 100%);
  box-shadow: 0 10px 20px 0 rgba(207, 140, 51, 0.5), 0 2px 3px 0 rgba(64, 51, 40, 0.66);
  border-radius: 8px;
  border: 1px solid #051b67;
  padding: 15px 20px 10px;
  position: relative;
}
.credit-form .payment-hint
{
  display: flex;
  color: #A9814A;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
@media (max-width:768px) {
  .signin-register .signin-con
  {
    padding: 0 10px;
    height: 80%;
  }
 
  .payment-sec .payments-cards
  {
    gap: 1rem;
  }
  .credit-form .payment-card
  {
    width: 95%;
    margin: auto !important;
  }
  .credit-form .payment-hint
  {
    gap: .5rem;
    flex-wrap: nowrap;
    margin: 10px;
    text-align: center;
  }
}
/* date picker */
#datepicker-container,
#datepicker-container .datepicker ,
#datepicker-container .datepicker table
{
  width:100% !important;
  font-weight: 500;
  font-size: 1rem;
}
.date-picker
  {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
  }
  .date-picker .form-group
  {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.date-picker .abovTime
{
  text-align: center;
}
.date-picker .timePicker
{
  display: none;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: space-around;
}
.date-picker .timePicker a
{
  color: black;
  text-decoration: none;
  padding: 8px;
  background-color: #d6ffd1;
  border-radius: 8px;
  font-weight: bold;
}
.date-picker .timePicker a:hover
{
  background-color: #c0fbb8;
}
.date-picker .timePicker a.disabled
{
  background-color: #f7f7f7;
}
.date-picker .notimeAvilabale
{
    text-align: center;
    background-color: #f7e8e8;
    color: #752f2f;
    font-weight: 500;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 6px;
}
@media (max-width:768px) {
  .date-picker
  {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding: 0;
  }
  .date-picker .timePicker
  {
    display: none;
    flex-wrap: wrap;
    gap: .5rem;
    font-size: 14px;
    justify-content: center;
  }
}
/* calendar-css */

:root {
    --calendar-bg-color: #F9F9F9;
    --calendar-font-color:  #131515;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #FF7648;
    --calendar-current-date-color: #FF7648;
    --calendar-today-color: linear-gradient(to bottom, #FF7648, #FF7648);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}


.calendar {
  position: relative;
   /*change as per your design need */
  color: var(--calendar-font-color);
  box-sizing: border-box;
  font-weight: 500;
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    grid-gap: 12px;
}

.calendar .calendar-inner .calendar-body div{
    border: 1px solid transparent;
    position: relative;
    background-color: #eefdec;
    border-radius: 8px;
    padding: 8px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7){
    border: 1px solid transparent;
    color: #9F9F9F;
    background-color: unset;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    /* border-bottom: 1px solid #9F9F9F; */
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
    font-size: 16px;
}

.calendar .calendar-inner .calendar-body div:hover {
    border-radius: 4px;
}
.number-item:hover{
  background: rgba(255, 204, 145, 0.2);
}

.prev-dates ,.next-dates{
  color: #9F9F9F !important;
}


.calendar .calendar-inner .calendar-body div.empty-dates:hover  {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar .calendar-inner .calendar-today-date  {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    /* background: var(--calendar-current-date-color);
    color: white; */
    background: rgba(255, 204, 145, 0.2);
    color: black;
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    display: none;
   
}

.calendar .calendar-inner .calendar-controls .calendar-year-month  {
    display: flex;
    min-width: 100px;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label{
    font-weight: bold;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label {
  color: rgba(31,34,43,.3);
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}


.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg{
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path {
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates{
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

.calendar .calendar-inner .calendar-body div.selected a,
.selected{
  background-color: #1d7bff !important;
  color: #fff !important;
  font-size: 16px;
}

.coll-date ,.coll-subject{
  display: none !important;
}

.date-choose{
  display: none !important;
}
.number-item ul
{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.number-item ul li
{
  width: 3px;
  height: 4px;
  background-color: #8fe286;
}
.calendar .calendar-inner .calendar-body div.selected ul
{
  display: none;
}
.number-item ul .disabled
{
  background-color: aliceblue;
}
@media screen and (max-width:768px) {
  .calendar-body{
    font-size: 13px;
  }

  .calendar-month-label ,.calendar-year-label{
    font-size: 18px !important;
  }


#week ,#day{
  flex-direction: column-reverse;
}

#day .col-lg-8 , #week .col-lg-8{
  padding: 0;
}

.calendar-date{
  height: auto !important;
}

.date-choose{
  display: flex !important;
}
}